<template>
  <el-form :model="formData" label-width="100px">
  {{#items}}
    <el-form-item label="{{label}}">
      <el-{{type}} v-model="formData.name" />
    </el-form-item>
  {{/items}}
  </el-form>
</template>

<script setup lang="ts">
import { reactive } from 'vue'

</script>

<style scoped>
.el-form { 
  max-width: 600px;
}
</style>
