.centerWrap {
  display: flex;
  height: 100%;
  flex-direction: column;

  .centerTop {
    display: flex;
    height: 50px;
    padding: 0 16px;
    background-color: #fff;
    border-bottom: 1px solid #e9ecf0;
    align-items: center;
    justify-content: flex-end;
  }
  
  .center-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin: 8px;
    overflow: hidden;
    background: #fff;
    border-radius: 8px;
  
    .center-placeholder {
      margin: auto;
      font-size: 18px;
      color: #bbb;
      text-align: center;
    }
  }
}
