.center-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 16px;
  overflow: hidden;
  background: #fff;
  border-radius: 8px;

  .center-placeholder {
    margin: auto;
    font-size: 18px;
    color: #bbb;
    text-align: center;
  }
}
